@model IEnumerable<Storage.Account.Data.Participante>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Avatar</th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Atividade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartitionKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowKey)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ImageName" width="50" height="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Atividade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartitionKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RowKey)
                </td>
                <td>
                    <form asp-action="Delete">

                        <input type="hidden" value="@item.RowKey" name="id" />
                        <input type="hidden" value="@item.Atividade" name="atividade" />

                        @Html.ActionLink("Edit", "Update", new { atividade = item.Atividade, id = item.RowKey },
                                 new { @class = "btn btn-warning" })
                        @Html.ActionLink("Detalhes", "Details", new { atividade = item.Atividade, id = item.RowKey },
                                 new { @class = "btn btn-primary" })

                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
